// ### Primary

$tomato: rgb(255, 98, 87);
$input-color: rgba(255, 98, 87,.2);

// ### Neutral

$text-color: hsl(234, 29%, 20%);
$body-color: hsl(235, 18%, 26%);
$border-color: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);