@use 'reset';
@use 'footer' as *;
@use 'colors' as *;

:root {
	--regular-font: 'robotoregular', sans-serif;
	--bold-font: 'robotobold', sans-serif;
}

@font-face {
	font-family: 'robotoregular';
	src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
		url('../../fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'robotobold';
	src: url('../../fonts/roboto-bold-webfont.woff2') format('woff2'),
		url('../../fonts/roboto-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	position: relative;
	min-height: 100vh;
	font-family: var(--regular-font);
	line-height: 1.5;
	color: $text-color;
}

.card {
	visibility: visible;
	// visibility: hidden;
	background-color: $white;
	border-radius: 2em;
}

.header {
	&__mobile {
		width: 100%;
	}
	&__desktop {
		display: none;
	}
}

.main {
	margin: 1.6em;
	&__title {
		font-size: 2rem;
		font-family: var(--bold-font);
	}
	&__text {
		font-size: 0.9rem;
		margin: 1em 0;
	}
	&__list {
		&-example {
			display: flex;
			justify-content: start;
			align-items: start;
			font-size: 0.9rem;
			margin-bottom: 0.8em;
			list-style: none;
			&-img {
				display: inline;
				width: 1em;
				margin-right: 1em;
			}
		}
	}
}

.form-box__input,
.subscribe,
.popup__button {
	width: 100%;
	font-size: .7rem;
	font-family: var(--regular-font);
	border-radius: 0.5em;
	cursor: pointer;
}
.form-box__input,
.subscribe {
	padding: 1.2em;
}
.subscribe {
	margin: 1em 0 2em 0;
	border: none;
}

.subscribe,
.popup__button {
	color: $white;
	background-color: $body-color;
	&:hover {
		background: rgb(255, 89, 105);
		background: linear-gradient(90deg, rgba(255, 89, 105, 1) 300px, rgb(27, 26, 26) 100%);
		box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
	}
}

.form-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;

	&__label {
		font-family: var(--bold-font);
		font-size: 0.7rem;
		margin-bottom: 0.3em;
	}
	&__input {
		border: 1px solid $border-color;
	}
}

.error {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.7rem;
	font-family: var(--bold-font);
	color: $tomato;
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.input-error {
	border: 1px solid $tomato;
	border-radius: 0.5em;
	box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
	background-color: $input-color;
}

.popup {
	position: absolute;
	top: 0;
	background-color: $white;
	height: 100vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	margin: 2em;

	&__img {
		margin-bottom: 2em;
	}
	&__title {
		font-size: 2rem;
		font-family: var(--bold-font);
		line-height: 1em;
		margin-bottom: 1em;
	}
	&__text {
		font-size: 0.9rem;
		&-userEmail {
			font-family: var(--bold-font);
		}
	}

	&__button {
		padding: 0.7em;
		margin-top: 7em;
	}
}

.popup-active {
	display: flex;
}

@media (width >= 48em) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $body-color;
	}
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card {
		position: relative;
		display: flex;
		width: 540px;
		height: 350px;
		.header {
			&__mobile {
				display: none;
			}
			&__desktop {
				position: absolute;
				right: 0;
				display: flex;
				padding: 1em;
				width: 50%;
			}
		}
		.main {
			width: 40%;
			margin: 2em 3em 1em 2em;
			&__title {
				font-size: 2rem;
			}
			&__text {
				margin-top: 0.7em;
				font-size: 0.7rem;
			}
			&__list {
				margin-top: 1em;
				margin-bottom: 0;
				&-example {
					margin-bottom: 0.5em;
					&-img {
						margin-right: 0.5em;
						width: 0.8em;
					}
					&-text {
						font-size: 0.6rem;
					}
				}
			}
		}
		.form-box {
			margin-top: 1em;
			&__label {
				font-size: 0.5rem;
			}
		}
		.form-box__input,
		.subscribe {
			padding: .8em;
			font-size: 0.7rem;
		}

		::placeholder {
			font-size: 0.7rem;
		}
		.error {
			font-size: 0.7rem;
		}
	}
	.popup {
		justify-content: start;
		height: 350px;
		width: 300px;
		padding: 2em;
		border-radius: 2em;
		&__img {
			width: 1.8em;
			margin-bottom: 1.5em;
		}
		&__title {
			margin: 0;
			font-size: 2.3rem;
		}
		&__text {
			margin-top: 2em;
			font-size: 0.7rem;
		}
		&__button {
			font-size: 0.8rem;
			margin: 4em 0 0 0;
			border: none;
		}
	}
}
