@use 'reset';
@use 'footer' as *;
@use 'colors' as *;
:root {
	--regular-font: 'robotoregular', sans-serif;
	--bold-font: 'robotobold', sans-serif;
}
@font-face {
	font-family: 'robotoregular';
	src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
		url('../../fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'robotobold';
	src: url('../../fonts/roboto-bold-webfont.woff2') format('woff2'),
		url('../../fonts/roboto-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	position: relative;
	min-height: 100vh;
	font-family: var(--regular-font);
	line-height: 1.5;
	color: $text-color;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	visibility: visible;
	background-color: $white;
	border-radius: 2em;
}
.header {
	&__mobile {
		width: 100%;
	}
	&__desktop {
		display: none;
	}
}
.main {
	margin: 1.6em;
	&__title {
		font-size: 2.4rem;
		font-family: var(--bold-font);
	}
	&__text {
		font-size: 1rem;
		margin: 1.5em 0;
	}
	&__list {
		&-example {
			display: flex;
			justify-content: start;
			align-items: start;
			font-size: 1rem;
			margin-bottom: 0.8em;
			list-style: none;
			&-img {
				display: inline;
				width: 1em;
				margin-right: 1em;
			}
		}
	}
}
.form-box__input,
.subscribe,
.popup__button {
	width: 100%;
	font-size: 0.7rem;
	font-family: var(--regular-font);
	border-radius: 0.5em;
	cursor: pointer;
}
.form-box__input,
.subscribe {
	padding: 1.2em;
}
.subscribe {
	margin: 1.5em 0 2em 0;
	border: none;
}
.subscribe,
.popup__button {
	color: $white;
	background-color: $body-color;
	&:hover {
		background: linear-gradient(90deg, rgba(255, 89, 105, 1) 0%, rgb(255, 105, 62) 100%);
		box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.4);
	}
}
.form-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;

	&__label {
		font-family: var(--bold-font);
		font-size: 0.7rem;
		margin: 2em 0 0.3em 0;
	}
	&__input {
		border: 1px solid $border-color;
	}
}
.error {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.7rem;
	font-family: var(--bold-font);
	color: $tomato;
	visibility: visible;
}
.hidden {
	visibility: hidden;
}
.input-error {
	border: 1px solid $tomato;
	border-radius: 0.5em;
	box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.4);
	background-color: $input-color;
}
.popup {
	position: absolute;
	top: 0;
	background-color: $white;
	height: 100vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	margin: 2em;

	&__img {
		margin-bottom: 2em;
	}
	&__title {
		font-size: 2rem;
		font-family: var(--bold-font);
		line-height: 1em;
		margin-bottom: 1em;
	}
	&__text {
		font-size: 0.9rem;
		&-userEmail {
			font-family: var(--bold-font);
		}
	}

	&__button {
		padding: 0.7em;
		margin-top: 7em;
	}
}

.popup-active {
	display: flex;
}

@media (width >= 48em) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $body-color;
	}
	.card {
		position: relative;
		display: flex;
		width: 730px;
		height: 543px;
		.header {
			&__mobile {
				display: none;
			}
			&__desktop {
				position: absolute;
				right: 0;
				display: flex;
				padding: 1em;
				width: 50%;
			}
		}
		.main {
			width: 40%;
			margin: 3em 3em 0 3em;
			&__title {
				font-size: 2.6rem;
			}

			&__list {
				&-example {
					&-text {
						font-size: 1rem;
					}
				}
			}
		}
		.form-box {
			margin-top: 0;
			&__label {
				margin-top: 0.5em;
				font-size: 0.7rem;
			}
		}
		.form-box__input,
		.subscribe {
			padding: 0.8em;
			font-size: 0.8rem;
		}

		::placeholder {
			font-size: 0.8rem;
		}
		.error {
			font-size: 0.7rem;
		}
	}
	.popup__button {
		padding: 1em;
	}
	.popup {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		justify-content: start;
		height: 450px;
		width: 400px;
		padding: 2em;
		border-radius: 2em;
		&__img {
			width: 2em;
			margin-bottom: 1.5em;
		}
		&__title {
			margin: 0;
			font-size: 2.8rem;
		}
		&__text {
			margin-top: 2em;
			font-size: 1rem;
		}
		&__button {
			font-size: 0.9rem;
			margin: 4em 0 0 0;
			border: none;
		}
	}
}

@media (width >= 62em) {
	.card {
		width: 930px;
		height: 643px;
		.main {
			margin: 5em 3em 1em 3em;
			&__title {
				font-size: 3.5rem;
			}
			&__text {
				margin-top: 2em;
				font-size: 1rem;
			}
			&__list {
				margin-top: 1.5em;
				margin-bottom: 0;
				&-example {
					margin-bottom: 1em;
					&-img {
						margin-right: 0.8em;
						width: 1em;
					}
					&-text {
						font-size: 1rem;
					}
				}
			}
		}
		.form-box {
			margin-top: 1.5em;
		}
		.form-box__input,
		.subscribe {
			padding: 1em;
			font-size: 1rem;
		}

		::placeholder {
			font-size: 1rem;
		}
	}
}
